p {
    color: red;
    <head> tag
    <link rel="stylesheet" href="style.css">
     hl {
         color: red;
         background-color: blue;
         }
      body { font-size: 16px;
      color: navy;

      hl {
      color: #ffc;
      background-color: #009;
      } 
}
